<strong><underline><h1>Shopping List</h1></strong></underline>
<style>
  body {
    background-color: #638599;
    color: #C4C4C4;
    font-family: "roboto", sans-serif;
    text-align: center;
  }

</style>

<% @groceries.each do |item, qty| %>
<%= "#{qty}x #{item}'s"%><br>
<% end %>
